# t-Stochastic Niehbor Embedding

In [38]:
import pandas as pd 
import io 

from sklearn.manifold import TSNE

import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns

# EDA Dataset

In [26]:
crabs_data = pd.read_csv("crabs.csv")

In [27]:
crabs_data.tail()

    sp sex  index    FL    RW    CL    CW    BD
195  O   F     46  21.4  18.0  41.2  46.2  18.7
196  O   F     47  21.7  17.1  41.7  47.2  19.6
197  O   F     48  21.9  17.2  42.6  47.4  19.5
198  O   F     49  22.5  17.2  43.0  48.7  19.8
199  O   F     50  23.1  20.2  46.2  52.5  21.1

In [7]:
crabs_data.head()

  sp sex  index   FL   RW    CL    CW   BD
0  B   M      1  8.1  6.7  16.1  19.0  7.0
1  B   M      2  8.8  7.7  18.1  20.8  7.4
2  B   M      3  9.2  7.8  19.0  22.4  7.7
3  B   M      4  9.6  7.9  20.1  23.1  8.2
4  B   M      5  9.8  8.0  20.3  23.0  8.2

In [8]:
crabs_data.describe

<bound method NDFrame.describe of     sp sex  index    FL    RW    CL    CW    BD
0    B   M      1   8.1   6.7  16.1  19.0   7.0
1    B   M      2   8.8   7.7  18.1  20.8   7.4
2    B   M      3   9.2   7.8  19.0  22.4   7.7
3    B   M      4   9.6   7.9  20.1  23.1   8.2
4    B   M      5   9.8   8.0  20.3  23.0   8.2
..  ..  ..    ...   ...   ...   ...   ...   ...
195  O   F     46  21.4  18.0  41.2  46.2  18.7
196  O   F     47  21.7  17.1  41.7  47.2  19.6
197  O   F     48  21.9  17.2  42.6  47.4  19.5
198  O   F     49  22.5  17.2  43.0  48.7  19.8
199  O   F     50  23.1  20.2  46.2  52.5  21.1

[200 rows x 8 columns]>

In [28]:
crabs_data = crabs_data.rename(
    columns = {
        "sp": "species",
        "FL": "Frontal Lobe",
        "RW": "Rear Width",
        "CL": "Carapace Midline",
        "CW": "Maximum Width",
        "BD": "Body Depth"
    }
)

In [29]:
crabs_data["species"] = crabs_data["species"].map(
    {"B": "Blue", "O": "Orange"}
)

crabs_data["sex"] = crabs_data["sex"].map(
    {"M": "Male", "F": "Female"}
)

In [30]:
crabs_data

,species,sex,index,Frontal Lobe,Rear Width,Carapace Midline,Maximum Width,Body Depth
0,Blue,Male,1,8.1,6.7,16.1,19.0,7.0
1,Blue,Male,2,8.8,7.7,18.1,20.8,7.4
2,Blue,Male,3,9.2,7.8,19.0,22.4,7.7
3,Blue,Male,4,9.6,7.9,20.1,23.1,8.2
4,Blue,Male,5,9.8,8.0,20.3,23.0,8.2
...,...,...,...,...,...,...,...,...
195,Orange,Female,46,21.4,18.0,41.2,46.2,18.7
196,Orange,Female,47,21.7,17.1,41.7,47.2,19.6
197,Orange,Female,48,21.9,17.2,42.6,47.4,19.5
198,Orange,Female,49,22.5,17.2,43.0,48.7,19.8
199,Orange,Female,50,23.1,20.2,46.2,52.5,21.1

## Using t-SNE on Raw Data

Add the class data with this unique identifier we've made up:

In [31]:
crabs_data["class"] = crabs_data.species + crabs_data.sex

tSNE transforms distance between points into probabilities, then tries to keep the same probability distributions while transforming data to a lower dimensional space.  

It depends on initialization and its results may change between runs. 
**strongly depends** on parameters. Generall used for visualization not for dimensionality reduction. 

**MOST IMPORTANT PARAMATERS OF THIS MODEL**  

1. **PERPLEXITY** balances attention between the local and global aspect of the data. This will usually be between 5 adn 50 and has a very strong effect on the final display

2. **NUMBER ITERATIONS**

In [49]:
data_columns = [
    "Frontal Lobe", "Rear Width", "Carapace Midline",
    "Maximum Width", "Body Depth"
]

## Using Raw Data (no process)

### 2 Dimensions

In [50]:
crabs_tsne = TSNE(
    n_components=2, perplexity=10, n_iter = 2000, init="random"
).fit_transform(crabs_data[data_columns])

In [51]:
crabs_data[["TSNE1", "TSNE2"]] = crabs_tsne

In [52]:
crabs_data

,species,sex,index,Frontal Lobe,Rear Width,Carapace Midline,Maximum Width,Body Depth,class,TSNE1,TSNE2
0,Blue,Male,1,8.1,6.7,16.1,19.0,7.0,BlueMale,-6.903159,61.119114
1,Blue,Male,2,8.8,7.7,18.1,20.8,7.4,BlueMale,-5.796356,59.448009
2,Blue,Male,3,9.2,7.8,19.0,22.4,7.7,BlueMale,-3.911477,58.517956
3,Blue,Male,4,9.6,7.9,20.1,23.1,8.2,BlueMale,-2.242760,57.083687
4,Blue,Male,5,9.8,8.0,20.3,23.0,8.2,BlueMale,-2.193069,55.986835
...,...,...,...,...,...,...,...,...,...,...,...
195,Orange,Female,46,21.4,18.0,41.2,46.2,18.7,OrangeFemale,-30.033102,-34.012173
196,Orange,Female,47,21.7,17.1,41.7,47.2,19.6,OrangeFemale,-30.373882,-36.327957
197,Orange,Female,48,21.9,17.2,42.6,47.4,19.5,OrangeFemale,-30.900078,-37.426640
198,Orange,Female,49,22.5,17.2,43.0,48.7,19.8,OrangeFemale,-31.415371,-38.838802
199,Orange,Female,50,23.1,20.2,46.2,52.5,21.1,OrangeFemale,-36.021137,-43.657261